<h1 >Детали бронировани</h1>
<spacer size="10"></spacer>
  <row class="free-padding">
    <columns small="12" large="4" ><strong>Состав группы</strong></columns>
    <columns small="12" large="7" ><span class="text--underline">t1r1ka@list.ru</span></columns>
  </row>
  <hr />  
  <row class="free-padding">
    <columns small="12" large="4" ><strong>Стоимость отмены брони и незаезда в отель</strong></columns>
    <columns small="12" large="7" ><span class="md__text">Бесплатная отмена до 13 августа 2016 23:59<su>*</su> В случае не явки оплаченная сумма не возвращается<su>*</su> — Московское время.Однако, если вы свяжитесь с нами, мы можем осуществить перенос брони</span></columns>
  </row>