<wrapper class="footer" >
  <container>
    <row class="collapse">
      <columns small="12" large="12">    
      <center>
        <span class="text-center small__text">Copyright © 2004-2016 Ots.ru.com  Все права защищены.</span>
      </center>
    </columns>
  </row>
</container>
</wrapper>
<wrapper class="footer footer--sub" >
<container>
  <row class="collapse">
    <columns small="12" large="12">    
    <center>
      <span class="text-center small__text">
        Конфиденциальность и Cookie-файлы | Служба поддрежки клиентов
      </span>
    </center>
  </columns>
</row>
</container>
</container>
</wrapper>
