<wrapper class="head" >
        <container class="head-container">
          <row class="">

            <columns small="12" large="3" valign="middle" class="pl-0">    
            <center>
              <a href="#">
                <img src="http://s10.postimg.org/sw7sbkh1l/Logo.png" class=" logo-main"></a>
            </center>
          </columns>
          <columns small="12" large="5" valign="middle">    
          <center>
            <spacer size="10"></spacer>
            <span class="phone">+7(495)555-55-553</span>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <a href="#" class="text__enter">Вход</a>
            <spacer size="10"></spacer>
          </center>
        </columns>
        <columns small="12" large="4">    
        <center>
          <button href="#" class="main-btn">Регистрация</button>
        </center>
      </columns>
    </row>
  </container>
</wrapper>
