<h1 >Нужна помощь?</h1>
<spacer size="10"></spacer>
  <row class="free-padding">
    <columns small="12" large="4" > <strong>Телефон отеля</strong>
  </columns>
  <columns small="12" large="7" >
  <span class="text--underline">+78125712880</span>
  </columns>
</row>
<hr />
<row class="free-padding">
  <columns small="12" large="4" > <strong>Телефон клиентской службы Open Travel Service</strong>
  </columns>
  <columns small="12" large="7" >
  <span class="">7 499 215-65-25 (круглосуточно)</span>
  </columns>
</row>