<wrapper class="exc__el">
  <row >
    <columns small="12" large="3"  valign="top">
      <img src="http://s10.postimg.org/8l0j30e2x/item.png" class="good-bron__img" alt="placeholder+image" width="150">

    </columns>
    <columns small="12" large="6" class="exc__el-info" valign="top">
      <wrapper >
        <h1 class="text--blue-light text--underline good-bron-title small-text-center">Название экскурсии</h1>
        <strong class="md__text good-bron-sub-title small-text-center">Индивидуальная экскурсия</strong>
        <spacer size="10"></spacer>

        <p class="md__text check-row">
          <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Гид</strong> Иван
         </p>
        
        <p class="md__text check-row">
          <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Дата экскурсии</strong> 07.08.16
         </p>
        
         <p class="md__text check-row">
           <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Оплата гиду на месте</strong> 
          </p>

          <p class="md__text check-row">
            <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Состав группы</strong> 2 взрослых
           </p>
      </wrapper>
    </columns>
    <columns small="12" large="3" class="exc__el-info" valign="top">
        <spacer size="30" class="show-for-large"></spacer>
      <p class="exc__el-price">$ 400</p>
        <center>
        <button href="#" class="main-btn secondary expanded">Оплачено</button>
        </center>
    </columns>
  </row>
</wrapper>
<spacer size="20"></spacer>