<wrapper class="exc__el">
  <row >
    <columns small="12" large="5" >
      <img src="http://s10.postimg.org/8l0j30e2x/item.png" alt="placeholder+image">

     <menu class="">
          <item>
            <a href="#"><img src="http://s10.postimg.org/5myyvkh1l/i_fb.png" alt="" /></a>
          </item>
          <item>
            <a href="#"><img alt="soc" src="http://s10.postimg.org/4efonoeh5/i_vk.png" /></a>
          </item>
          <item>
            <a href="#"><img alt="soc" src="http://s10.postimg.org/pmtd53sy1/i_tw.png" /></a>
          </item>
          <item>
            <a href="#"><img alt="soc" src="http://s10.postimg.org/wm7f4gsw9/i_g.png" /></a>
          </item>
          <item>
            <a href="#"><img alt="soc" src="http://s10.postimg.org/tgmte9aa1/i_inst.png" /></a>
          </item>
        </menu>
    
    </columns>
    <columns small="12" large="7" class="exc__el-info">
      <wrapper >
        <h1 class="text--blue-light">Название экскурсии</h1>
        <img src="http://s10.postimg.org/jpphoabt5/star.png" alt="" />
        <spacer size="10"></spacer>
        <strong class="md__text">Индиаидуальная экскурсия</strong>
        <spacer size="10"></spacer>
        <p class="md__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero officiis, obcaecati quas recusandae eligendi cumque labore ipsa repellendus at sunt explicabo provident accusantium qui </p>
         <button href="#" class="main-btn">Забронировать</button>
      </wrapper>
    </columns>

  </row>
  <row >
</wrapper>
<spacer size="20"></spacer>