<spacer size="20"></spacer>
<h1 class="text--yellow text-center">Пригласите друзей и заработайте <br>бесплатные экскурсии!</h1>
<spacer size="20"></spacer>
<p class="text-center text--bold">Поделись своим кодом и подари каждому другу по 5% на их первую экскурсию, за каждую из которых вы получите от нас по 5% на вашу экскурсию</p>
<center>
  <menu >
    <item>
      <a href="#"><img src="http://s10.postimg.org/5myyvkh1l/i_fb.png" alt="" /></a>
    </item>
    <item>
      <a href="#"><img alt="soc" src="http://s10.postimg.org/4efonoeh5/i_vk.png" /></a>
    </item>
    <item>
      <a href="#"><img alt="soc" src="http://s10.postimg.org/pmtd53sy1/i_tw.png" /></a>
    </item>
    <item>
      <a href="#"><img alt="soc" src="http://s10.postimg.org/wm7f4gsw9/i_g.png" /></a>
    </item>
    <item>
      <a href="#"><img alt="soc" src="http://s10.postimg.org/tgmte9aa1/i_inst.png" /></a>
    </item>
  </menu>
 </center>
<spacer size="50"></spacer>