<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <table class="body">
      <tr>
        <td>
          <center>
        <!-- header -->    
           <!--=include include/header.html --> 
        <!-- header -->    
        <!-- content -->    
        <container>
          <row class="collapse">
            <columns small="12" large="12">    
            <spacer size="60"></spacer>
            <h1>Добро пожаловать на OpenTravelService.</h1>
            <spacer size="20"></spacer>
            <p>
              Чтобы войти при посещении нашего сайта просто нажмите Вход, а затем введите свой адрес электронной почты и пароль.
            </p>
            <p>
              Используйте следующие значения, когда будет предложено войти:
            </p>

            <p> <strong>Электронная почта:</strong>
              asdzxc@yandex.ru
            </p>

            <p> <strong>Пароль:</strong>
              asdfghjkl1234567
            </p>

            <p>Если у вас есть какие-либо вопросы по поводу вашей учетной записи или  любой другой вопрос, пожалуйста, не стесняйтесь связаться с нами по  телефону
              <strong>8800 100 6282</strong>
            </p>
            <spacer size="60"></spacer>
          </columns>
        </row>
      </container>
      <!-- content -->    

      <!-- footer -->    
        <!--=include include/footer.html -->
      <!-- footer --> 
    </center>
    </td>
    </tr>
    </table>
</body>
</html>
<!-- 
http://s10.postimg.org/5myyvkh1l/i_fb.png
http://s10.postimg.org/wm7f4gsw9/i_g.png
http://s10.postimg.org/tgmte9aa1/i_inst.png
http://s10.postimg.org/8l0j30e2x/item.png
http://s10.postimg.org/pmtd53sy1/i_tw.png
http://s10.postimg.org/4efonoeh5/i_vk.png
http://s10.postimg.org/sw7sbkh1l/Logo.png
http://s10.postimg.org/jpphoabt5/star.png
 -->

<!-- 
 <container>
  <row class="collapse">
    <columns small="12" large="12">
     
    </columns>
  </row>
</container> 
-->





