<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <table class="body">
      <tr>
        <td>
          <center>
            <!-- header -->    
               <wrapper class="head" >
                    <container>
                      <row class="collapse">
                        <columns small="12" large="3" valign="middle">    
                        <center>
                          <a href="#">
                            <img src="http://s10.postimg.org/sw7sbkh1l/Logo.png" class=" logo-main"></a>
                        </center>
                      </columns>
                      <columns small="12" large="5" valign="middle">    
                      <center>
                        <spacer size="10"></spacer>
                        <span class="phone">+7(495)555-55-55</span>
                        <a href="#" class="text__enter">Вход</a>
                        <spacer size="10"></spacer>
                      </center>
                    </columns>
                    <columns small="12" large="4">    
                    <center>
                      <button href="#" class="main-btn">Регистрация</button>
                    </center>
                  </columns>
                </row>
              </container>
             </wrapper>
          <!-- header -->    

      <!-- content -->    
           <container>
              <row >
                <columns small="12" large="12" >    
                <spacer size="30"></spacer>
                <h1>Успешные бронирования</h1>
                <spacer size="20"></spacer>
              </row>
                
                <!-- select info -->



                <!-- select-el -->
                  <wrapper class="exc__el">
                    <row >
                      <columns small="12" large="3"  valign="top">
                        <img src="http://s10.postimg.org/8l0j30e2x/item.png" class="good-bron__img" alt="placeholder+image" width="150">

                      </columns>
                      <columns small="12" large="6" class="exc__el-info" valign="top">
                        <wrapper >
                          <h1 class="text--blue-light text--underline good-bron-title small-text-center">Название экскурсии</h1>
                          <strong class="md__text good-bron-sub-title small-text-center">Индивидуальная экскурсия</strong>
                          <spacer size="10"></spacer>

                          <p class="md__text check-row">
                            <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Гид</strong> Иван
                           </p>
                          
                          <p class="md__text check-row">
                            <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Дата экскурсии</strong> 07.08.16
                           </p>
                          
                           <p class="md__text check-row">
                             <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Оплата гиду на месте</strong> 
                            </p>

                            <p class="md__text check-row">
                              <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Состав группы</strong> 2 взрослых
                             </p>
                        </wrapper>
                      </columns>
                      <columns small="12" large="3" class="exc__el-info" valign="top">
                          <spacer size="30" class="show-for-large"></spacer>
                        <p class="exc__el-price">$ 400</p>
                          <center>
                          <button href="#" class="main-btn secondary expanded">Оплачено</button>
                          </center>
                      </columns>
                    </row>
                  </wrapper>
                  <spacer size="20"></spacer>
                <!-- select-el -->

                 <!-- select-el -->
                  <wrapper class="exc__el">
                    <row >
                      <columns small="12" large="3"  valign="top">
                        <img src="http://s10.postimg.org/8l0j30e2x/item.png" class="good-bron__img" alt="placeholder+image" width="150">

                      </columns>
                      <columns small="12" large="6" class="exc__el-info" valign="top">
                        <wrapper >
                          <h1 class="text--blue-light text--underline good-bron-title small-text-center">Название экскурсии</h1>
                          <strong class="md__text good-bron-sub-title small-text-center">Индивидуальная экскурсия</strong>
                          <spacer size="10"></spacer>

                          <p class="md__text check-row">
                            <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Гид</strong> Иван
                           </p>
                          
                          <p class="md__text check-row">
                            <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Дата экскурсии</strong> 07.08.16
                           </p>
                          
                           <p class="md__text check-row">
                             <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Оплата гиду на месте</strong> 
                            </p>

                            <p class="md__text check-row">
                              <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Состав группы</strong> 2 взрослых
                             </p>
                        </wrapper>
                      </columns>
                      <columns small="12" large="3" class="exc__el-info" valign="top">
                          <spacer size="30" class="show-for-large"></spacer>
                        <p class="exc__el-price">$ 400</p>
                          <center>
                          <button href="#" class="main-btn secondary expanded">Оплачено</button>
                          </center>
                      </columns>
                    </row>
                  </wrapper>
                  <spacer size="20"></spacer>
                <!-- select-el -->

                 <!-- select-el -->
                  <wrapper class="exc__el">
                    <row >
                      <columns small="12" large="3"  valign="top">
                        <img src="http://s10.postimg.org/8l0j30e2x/item.png" class="good-bron__img" alt="placeholder+image" width="150">

                      </columns>
                      <columns small="12" large="6" class="exc__el-info" valign="top">
                        <wrapper >
                          <h1 class="text--blue-light text--underline good-bron-title small-text-center">Название экскурсии</h1>
                          <strong class="md__text good-bron-sub-title small-text-center">Индивидуальная экскурсия</strong>
                          <spacer size="10"></spacer>

                          <p class="md__text check-row">
                            <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Гид</strong> Иван
                           </p>
                          
                          <p class="md__text check-row">
                            <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Дата экскурсии</strong> 07.08.16
                           </p>
                          
                           <p class="md__text check-row">
                             <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Оплата гиду на месте</strong> 
                            </p>

                            <p class="md__text check-row">
                              <img src="http://s21.postimg.org/ysxqohnh3/icon_check.png" alt="" /> <strong>Состав группы</strong> 2 взрослых
                             </p>
                        </wrapper>
                      </columns>
                      <columns small="12" large="3" class="exc__el-info" valign="top">
                          <spacer size="30" class="show-for-large"></spacer>
                        <p class="exc__el-price">$ 400</p>
                          <center>
                          <button href="#" class="main-btn secondary expanded">Оплачено</button>
                          </center>
                      </columns>
                    </row>
                  </wrapper>
                  <spacer size="20"></spacer>
                <!-- select-el -->

                 
                
                    
                <!-- more info -->

                <row class="free-padding">
                  <columns small="12" large="12" >
                    <h1 >Детали бронировани</h1>
                    <spacer size="10"></spacer>
                  </columns>
                </row>

                  <row class="free-padding">
                    <columns small="12" large="4" class="md__text">
                      <strong>Стоимость отмены брони и незаезда в отель</strong>
                    </columns>
                    <columns small="12" large="7" class="md__text"><span class="md__text">Бесплатная отмена до 13 августа 2016 23:59<su>*</su> В случае не явки оплаченная сумма не возвращается<su>*</su> — Московское время.Однако, если вы свяжитесь с нами, мы можем осуществить перенос брони</span></columns>
                  </row>

                <!-- more info -->
                
                <!-- wellcome -->
                <spacer size="20"></spacer>
                <h1 class="text--yellow text-center">Пригласите друзей и заработайте <br>бесплатные экскурсии!</h1>
                <spacer size="20"></spacer>
                <p class="text-center text--bold">Поделись своим кодом и подари каждому другу по 5% на их первую экскурсию, за каждую из которых вы получите от нас по 5% на вашу экскурсию</p>
                <center>
                  <menu >
                    <item>
                      <a href="#"><img src="http://s10.postimg.org/5myyvkh1l/i_fb.png" alt="" /></a>
                    </item>
                    <item>
                      <a href="#"><img alt="soc" src="http://s10.postimg.org/4efonoeh5/i_vk.png" /></a>
                    </item>
                    <item>
                      <a href="#"><img alt="soc" src="http://s10.postimg.org/pmtd53sy1/i_tw.png" /></a>
                    </item>
                    <item>
                      <a href="#"><img alt="soc" src="http://s10.postimg.org/wm7f4gsw9/i_g.png" /></a>
                    </item>
                    <item>
                      <a href="#"><img alt="soc" src="http://s10.postimg.org/tgmte9aa1/i_inst.png" /></a>
                    </item>
                  </menu>
                 </center>
                <spacer size="50"></spacer>
                <!-- wellcome -->
                
                <!-- help info -->

               <row class="free-padding">
                 <columns small="12" large="12" >
                   <h1 >Нужна помощь?</h1>
                   <spacer size="10"></spacer>
                 </columns>
               </row>

                 <row class="free-padding">
                   <columns small="12" large="6" ><strong>Телефон отеля</strong></columns>
                   <columns small="12" large="6" ><span class="">+78125712880 </span></columns>
                 </row>
                 <hr />  
                 <row class="free-padding">
                   <columns small="12" large="6" ><strong>Телефон клиентской службы Open Travel Service</strong></columns>
                   <columns small="12" large="6" ><span class="">7 499 215-65-25 (круглосуточно)</span></columns>
                 </row>
               <spacer size="30"></spacer>
               <!-- help info -->

              </columns>
            </row>
          </container>
      <!-- content -->    

      <!-- footer -->    
          <wrapper class="footer" >
            <container>
              <row class="collapse">
                <columns small="12" large="12">    
                <center>
                  <span class="text-center small__text">Copyright © 2004-2016 Ots.ru.com  Все права защищены.</span>
                </center>
              </columns>
            </row>
          </container>
          </wrapper>
          <wrapper class="footer footer--sub" >
            <container>
              <row class="collapse">
                <columns small="12" large="12">    
                <center>
                  <span class="text-center small__text">
                    Конфиденциальность и Cookie-файлы | Служба поддрежки клиентов
                  </span>
                </center>
              </columns>
            </row>
            </container>
          </wrapper>
      <!-- footer --> 
    </center>
    </td>
    </tr>
    </table>
</body>
</html>


<!-- 
http://s21.postimg.org/ysxqohnh3/icon_check.png
http://s10.postimg.org/5myyvkh1l/i_fb.png
http://s10.postimg.org/wm7f4gsw9/i_g.png
http://s10.postimg.org/tgmte9aa1/i_inst.png
http://s10.postimg.org/8l0j30e2x/item.png
http://s10.postimg.org/pmtd53sy1/i_tw.png
http://s10.postimg.org/4efonoeh5/i_vk.png
http://s10.postimg.org/sw7sbkh1l/Logo.png
http://s10.postimg.org/jpphoabt5/star.png
http://s3.postimg.org/4gk834pir/map.png
 -->

<!-- 
 <container>
  <row class="collapse">
    <columns small="12" large="12">
     
    </columns>
  </row>
</container> 
-->





